:root {
    --main-bg-color: #FFFFFF;
    --primary-bg-color: #678E29;
    --secondary-bg-color: #07476B;
    --main-text-color: #00608F;
    --primary-text-color: #678E29;
    --secondary-text-color: #655C5D;
}

@font-face {
    font-family: "Oswald";
    src: url("../assets/font/Oswald-VariableFont_wght.ttf");
}

body {
    font-family: "Oswald";
    background-color: var(--main-bg-color);
}

/* Estilos de colores generales */

.bg-color-1 {
    background-color: var(--primary-bg-color);
}

.bg-color-2 {
    background-color: var(--secondary-bg-color);
}
.bg-color-3 {
    background-color: var(--secondary-text-color);
}

/* Estilos generales de texto */

.primary-text {
    color: var(--main-text-color);
}

.secondary-text {
    color: var(--secondary-text-color);
}

.bold-text {
    font-weight: bold;
}

.light-text {
    font-weight: 200;
}

.text-justify {
    text-align: justify;
}

.border-w-3 {
    border-width: 3px;
}

.icon-size-1 {
    font-size: 6.5em;
}

.icon-size-2 {
    font-size: 4.5em;
}

.icon-size-3 {
    font-size: 3.5em;
}

.icon-size-4 {
    font-size: 2.5em;
}

.icon-size-5 {
    font-size: 1.5em;
}

/*  */

.articulos-list {
    height: 1100px;
    overflow-y: auto;
    overflow-x: hidden;
}

.z-100 {
    z-index: 1000;
}

.center-modal {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.object-cover {
    object-fit: cover;
}

/* COLORES DE SECCIONES */

:root {
    --aloj-color: #0089B8;
    --trans-color: #C4007A;
    --rest-color: #63367B;
    --agen-color: #DE9520;
    --acti-color: #A0BF37;
    --mapas-color: #E51E21;
}

/* Estilos de colores generales */

.bg-aloj {
    background-color: var(--aloj-color);
}

.bg-trans {
    background-color: var(--trans-color);
}

.bg-rest {
    background-color: var(--rest-color);
}

.bg-agen {
    background-color: var(--agen-color);
}

.bg-acti {
    background-color: var(--acti-color);
}

.bg-mapas {
    background-color: var(--mapas-color);
}

.text-aloj,
.text-aloj a {
    color: var(--aloj-color);
}

.text-trans,
.text-trans a {
    color: var(--trans-color);
}

.text-rest,
.text-rest a {
    color: var(--rest-color);
}

.text-agen,
.text-agen a {
    color: var(--agen-color);
}

.text-acti,
.text-acti a {
    color: var(--acti-color);
}

.text-mapas,
.text-mapas a {
    color: var(--mapas-color);
}

/* BORDES */

.border-aloj {
    border-color: var(--aloj-color);
}

.border-trans {
    border-color: var(--trans-color);
}

.border-rest {
    border-color: var(--rest-color);
}

.border-agen {
    border-color: var(--agen-color);
}

.border-acti {
    border-color: var(--acti-color);
}

.border-mapas {
    border-color: var(--mapas-color);
}

/* Estilos de colores generales para el paginator */

.pagination-aloj a,
.pagination-aloj a:hover {
    color: var(--aloj-color);
}

.pagination-trans a,
.pagination-trans a:hover {
    color: var(--trans-color);
}

.pagination-rest a,
.pagination-rest a:hover {
    color: var(--rest-color);
}

.pagination-agen a,
.pagination-agen a:hover {
    color: var(--agen-color);
}

.pagination-acti a,
.pagination-acti a:hover {
    color: var(--acti-color);
}

.pagination-mapas a,
.pagination-mapas a:hover {
    color: var(--mapas-color);
}


.pagination-aloj .page-link.active,
.pagination-aloj .active>.page-link {
    z-index: 3;
    color: #fff;
    border-color: var(--aloj-color);
    background-color: var(--aloj-color);
}

.pagination-trans .page-link.active,
.pagination-trans .active>.page-link {
    z-index: 3;
    color: #fff;
    border-color: var(--trans-color);
    background-color: var(--trans-color);
}

.pagination-rest .page-link.active,
.pagination-rest .active>.page-link {
    z-index: 3;
    color: #fff;
    border-color: var(--rest-color);
    background-color: var(--rest-color);
}

.pagination-agen .page-link.active,
.pagination-agen .active>.page-link {
    z-index: 3;
    color: #fff;
    border-color: var(--agen-color);
    background-color: var(--agen-color);
}

.pagination-acti .page-link.active,
.pagination-mapas .active>.page-link {
    z-index: 3;
    color: #fff;
    border-color: var(--acti-color);
    background-color: var(--acti-color);
}

.pagination-mapas .page-link.active,
.pagination-mapas .active>.page-link {
    z-index: 3;
    color: #fff;
    border-color: var(--mapas-color);
    background-color: var(--mapas-color);
}