.card-evento-slider .event-slider {
    height: 300px
}

.card-aloj .aloj-slider {
    height: 220px
}

.card-evento-slider .evento-card-img img,
.card-aloj .aloj-card-img img {
    object-fit: cover;
}

.btn-touch {
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
}

.btn-touch:hover {
    background: var(--secondary-text-color);
    border: 0;
}

.carousel-control-prev {
    order: 0
}

.carousel-inner {
    order: 1
}

.carousel-control-next {
    order: 2
}

.carousel-home .carousel-control-prev,
.carousel-home .carousel-control-next {
    background-color: var(--primary-text-color);
    position: relative;
    width: 9%;
    opacity: 1;
}

.home-button {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* FOOTER */

.share-nav-button {
    /* background-color: #00608f; */
    background-color: var(--primary-bg-color);
    color: #ffffff;
    border-radius: 11px;
    font-size: 14px;
    width: 28px;
    height: 28px;
}

/* BTN flotante */

.contenedor {
    width: 90px;
    height: 240px;
    position: fixed;
    right: 0px;
    bottom: 300px;
    z-index: 10000000000000000;
}

.volver {
    width: 85px;
    height: 85px;
    border-radius: 100%;
    background: #F44336;
    right: 0;
    bottom: 0;
    position: absolute;
    margin-right: 16px;
    margin-bottom: 16px;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 25px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: .3s;
}
.volver-casa {
    width: 85px;
    height: 85px;
    border-radius: 100%;
    background: #F44336;
    right: 0;
    bottom: 100px;
    position: absolute;
    margin-right: 16px;
    margin-bottom: 16px;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 25px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: .3s;
}