/* Agencias */

.modal-center .modal-dialog {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Transportes */

.destino-bt-select {
    border: 4px ridge #1d1d1d;
}